<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roy.Expenses_Management_System">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/addexpenses"
        android:label="@string/app_name"
        android:roundIcon="@drawable/addexpenses"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Receipts"></activity>
        <activity android:name=".Activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.OwnExpensesActivity" />
        <activity android:name=".Activities.Login_pageActivity" />
        <activity
            android:name=".Activities.Registration_FormActivity"
            android:theme="@style/StatusBarAppTheme" />
        <activity android:name=".Activities.IntroActivity"></activity>
        <activity
            android:name=".Activities.NewsActivity"
            android:theme="@style/StatusBarAppTheme" />
        <activity android:name=".Activities.ExpensesActivity" />
        <activity android:name=".Activities.ProfileActivity" />
        <activity android:name=".Activities.Add_expensesActivity" />
        <activity
            android:name=".Activities.DashboardActivity"
            android:theme="@style/AppTheme.Transparent.StatusBar" />
        <activity
            android:name=".Activities.Create_GroupActivity"
            android:theme="@style/StatusBarAppTheme" />
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/StatusBarAppTheme" />
    </application>

</manifest>